{% extends 'blog/base.html' %} {% block content %} {% for post in posts %}
<article class="post">
  <time class="date"> {{ post.published_date }} </time>
  <h2><a href="/post/{{ post.slug }}/">{{ post.title }}</a></h2>
  <!-- <p>{{ post.text|linebreaksbr }}</p> -->
  <p style="word-wrap: break-word">{{ post.text|linebreaksbr|safe }}</p>
  <p>Category: {{ post.category.name }}</p>
  <p>Tags:
    {% for tag in post.tag.all %}
    {{ tag.name }}
    {% if not forloop.last %}, {% endif %}
    {% endfor %}
  </p>
</article>
{% endfor %} {% endblock %}